@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

/* hero-section */

.hero{
    position:relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

.hero_content h1 { 
    color: rgb(48, 43, 43);
    text-shadow: 2px 2px 1px black;
    font-size: 2.8rem;
    padding: 10px;
    font-family: "Bree Serif", serif;
}

.hero_content p{
    font-family: "Bree Serif", serif;
    font-size: 1.3rem;
}
.btn{
    font-family: "Bree Serif", serif;;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
    border: 1px solid orange;
    border-radius: 6px;
    cursor: pointer;
    
}
.btn:hover{
    color: white;
    background-color: navy;
}

/* header */

.header{
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar img{
    height: 70px;
    width: 80px;
    border-radius: 50%;
}

.navbar{
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-color: rgba(44, 51, 44, 0.6);
}

.navbar ul{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    /* margin-left: 1.5rem; */
}
.navbar ul li{
    /* padding: 5px 15px; */
    list-style-type: none;

}
.navbar ul li a{

    font-family: "Bree Serif", serif;
    padding: 3px 5px;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}
.navbar ul li a:hover{
    border-radius: 7px;
    /* padding: 5px; */
    background-color: white;
    color: black;
}


.mobile_menu{
    display: none;
    height: 40px;
    line-height: 40px;
    background-color: rgb(91, 121, 91);
}
.mobile_menu ul{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.mobile_menu ul li{
    /* padding: 5px; */
    list-style-type: none;
}
.mobile_menu ul li a{
    font-family: "Bree Serif", serif;
    font-size: 1.1rem;
    color: #f2f7f6;
    text-decoration: none;
}



/* Services section */



#services-container{
    padding: 25px;
}
#services-container h1{
    font-family: "Bree Serif", serif;
    text-align: center;
    font-size: 2.3rem;
    padding-bottom: 1.8rem;

}
.box{
  border: 5px solid #dedfd6;
  border-radius: 1.2rem;
  background-color: #d2d7d6;
    padding: 20px;
    text-align: center;
  /* border: 2px solid red; */
}
.box img{
    height: 250px;
    width: 300px;
}
.box h2{
    font-family: "Bree Serif", serif;
    padding: 5px;
}

.box p{
    font-family: "Bree Serif", serif;
    text-align: justify;
}


 .services{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
 }


/* Client Section */

#client-section{
    padding: 25px 0;
    /* text-align: center; */
}
#client-section h1{
    text-align: center;
  font-size: 2.3rem;
  font-family: "Bree Serif", serif;
  padding-bottom: 2.3rem;
}
.clients{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-content: center;
}
.client-item img {
    width: 400px;
    height: 300px;
    object-fit: contain;
}


/* contact section begin */

#contact {
    padding-top: 30px;
    position: relative;
    color: white;
}

#contact::before {
    content: "";
    position: absolute;
    background: url("contact.jpeg") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: brightness(70%);
    /* opacity: 0.8; */
}

.contact-box {
    padding: 50px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contact-box h1{
    padding-bottom: 2.3rem;
    font-size: 2.3rem;
    font-family: "Bree Serif", serif;
} 

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 7px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

input,
textarea {
    border: 1px solid white;
    border-radius: 7px;
    outline: none;
}

input {
    padding: 8px 5px;
    /* height: 23px; */
}

label,
input,
textarea {
    font-size: 1rem;
    font-family: "Bree Serif", serif;
}

.btn1 {
    font-size: 1.2rem;
    padding: 8px 30px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: bisque;
    cursor: pointer;
    margin: auto;
    font-family: "Bree Serif", serif;
    margin-top: 1.4rem;
}

.btn1:hover{
    background-color: aquamarine;
    color: orangered;

}

/* Footer  */


footer {
    text-align: center;
    background-color: white;
    color: black;
    padding: 10px;

}







 @media screen and ( max-width: 768px ){
    .services{
        /* display: grid; */
        grid-template-columns: auto;
     }

     .clients{
        grid-template-columns: auto;
     }
     .hero_content h1{
        font-size: 1.7rem;
     }
     .hero_content p{
        font-size: 1.1rem;
        padding: 7px;
     }

    
     .mobile_menu{
        display: block;
     }
     .navbar ul{
        width: 100%;
        display: none;
     }

     .box{
        padding: 0;
        width: 100%;
     }

     /* .hero_content h1{ */
        /* padding-top: rem; */
     /* } */
     #services-container{
        padding: 0;
     }
     .navbar{
        width: 100%;
        padding-top: 5px;
     }
      .mobile_menu ul{
        width: 100%;
     }
     .client-item img{
        width: 100%;
     }


.contact-box{
    width: 100%;
}

}  


